---
---
$shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

.hero.is-fullheight
  min-height: 100vh

.waypoint-hero__div--wallpaper
  background: url("../images/waypoint-hero-2014.jpg") center center no-repeat
  background-size: cover

.hero__heading1--landing
  font-size: 6em

.hero__heading2--landing
  font-size: 4.2em

.hero__heading3--landing
  font-size: 3.4em
  
.navigate__div
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex-wrap: no-wrap

.navigate__div--keywords
  top: 20px
  font-weight: bold
  letter-spacing: 1px
  word-spacing: 10px
  background-color: rgba(0, 0, 0, 0.2)
  padding: 6px

.footer-icon__anchor
  font-size: 2em
  
.stripe__div
  height: 0.4em
  background-color: #E60471
  background: -moz-linear-gradient(right, #E42950, #8800BF) /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, #E42950, #8800BF) /* Standard syntax */
  box-shadow: $shadow

.kappa
  position: relative
  top: 5px
  
.hero-foot a
  color: #fff

.media__div--centered
  display: flex
  justify-content: center
  align-items: center

.ord1
  order: 1

.ord2
  order: 2
  
.ord3
  order: 3
  
// .tile
//   border: 1px solid green

// .column
//   border: 1px solid red
  
.test
  display: block
  &:hover
    background-color: rgba(255, 46, 77, 0.1)
    
.box
  border: 1px solid rgba(10, 10, 10, 0.1)
  
.landing__div--post
  padding: 2em 3em 2em 3em
  
.is-relative
  position: relative
  
.quote-footer__div
  padding: 2em 1em 2.6em 1em
  background-color: #C8E7C8
  z-index: 10
  
.quote-footer__div--shadow
  height: 10px
  bottom: 10px
  box-shadow: $shadow

.quote-footer__paragraph--author
  font-size: 1.4em
  margin-bottom: 0.8em

.quote-footer__paragraph
  font-size: 1em
  

@media only screen and (min-width: 480px)
  .quote-footer__paragraph
    font-size: 1.6em

@media only screen and (min-width: 768px)
  .quote-footer__paragraph
    font-size: 2em

@media only screen and (min-width: 1180px)
  .quote-footer__paragraph
    font-size: 2.6em

.quote-footer__span
  display: inline-block
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  transform: rotate(180deg)

.footer-links__footer
  margin-bottom: 2em

.footer-links__list-item
  display: inline-block

.footer-links__list-item .is-normal
  border-top: none
  margin-left: 1px
  bottom: 10px
  border-top-right-radius: 0
  border-top-left-radius: 0
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16)

@media only screen and (min-width: 321px)
  .footer-links__list-item .is-normal
    font-size: 18px
    height: 48px
    padding-left: 14px
    padding-right: 14px

@media only screen and (min-width: 769px)
  .footer-links__list-item .is-normal
    font-size: 22px
    height: 48px
    padding-left: 20px
    padding-right: 20px

.fa-clone
  margin-left: 10px
  
.is-absolute
  position: absolute
  
.is-relative
  position: relative
  
.icon
  i:hover
    color: #aaa
  img:hover
    opacity: 0.5