---
layout: landing
---
<section class="hero is-primary spacer has-text-centered portfolio-hero__section">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <strong>PROJECTS</strong>
      </h1>
    </div>
  </div>
</section>

<div class="columns landing-portfolio__div">
  <div class="column is-1"></div>
  
  <div class="column">
    <div class="has-text-centered front-end__div">
      <div class="button is-info subtitle front-end__button">Front End</div>
    </div>
    {% include portfolio-front-end-1.html %}
    {% include portfolio-front-end-2.html %}
  </div>
  
  <div class="column">
    <div class="has-text-centered back-end__div">
      <div class="button is-info subtitle back-end__button">Back End</div>
    </div>
    {% include portfolio-back-end-1.html %}
    {% include portfolio-back-end-2.html %}
  </div>
  
  <div class="column is-1"></div>
</div>