<div class="stripe__div" style="margin-top: 4em"></div>

<div class="has-text-centered quote-landing__div is-info">
  <p class="quote-landing__paragraph--author">&lt; Dylan Thomas &gt;</p>
  <p class="quote-landing__paragraph">"Do not go gentle into that good night.</p>
  <p class="quote-landing__paragraph">Old age should burn and rave at close of day.</p>
  <p class="quote-landing__paragraph">Rage, rage against the dying of the light."</p>
</div>

<footer class="container footer-links__footer">
  <div class="has-text-centered">
    <ul>
      <li class="footer-links__list-item">
        <a class="button is-normal" href="/about">About</a>
      </li><!--
  --><li class="footer-links__list-item">
       <a class="button is-normal" href="/contact">Contact</a>
     </li><!--
  --><li class="footer-links__list-item">
       <a class="button is-normal" href="/readings">Readings<i class="fa fa-clone"></i></a>
     </li>
    </ul>
  </div>
</footer>

<footer class="footer">
  <div class="columns has-text-centered">
    <div class="column"></div>
    
    <div class="column ord2 media__div--centered">
      <a class="icon is-large" href="https://github.com/csrail">
        <i class="fa fa-github"></i>
      </a>
      <a class="icon is-large" href="https://www.linkedin.com/in/cornelius-soon-430597aa">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
    
    <div class="column content is-6 ord1">
      <p>
        <strong>Design</strong> by <a href="https://github.com/csrail">csrail</a>.
        <br>Kapparight 
        <img class="kappa" src="../images/kapparight.png" alt="Kappa">
        All Rights Reserved.
      </p>
    </div>
    
    <div class="column ord3"></div>
  </div>
</footer>

