<div class="stripe__div--header"></div>
<footer class="footer">
  <div class="container">
    <div class="columns content has-text-centered">
      <div class="column">
        <strong>Design</strong> by <a href="https://github.com/csrail">csrail</a>.
      </div>
      <div class="column">
        <a class="icon footer-icon__anchor" href="https://github.com/csrail"><i class="fa fa-github"></i></a>
        <a class="icon footer-icon__anchor" href="https://www.linkedin.com/in/cornelius-soon-430597aa"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
    <div class="content has-text-centered">
    </div>
  </div>
</footer>

