<div class="stripe__div--header"></div>

<footer class="footer">
  <div class="columns content is-large has-text-centered">
    <div class="column">
      <a href="">About</a>
    </div>
    <div class="column">
      <a href="">Contact</a>
    </div>
    <div class="column">
      <a href="">Readings</a>
    </div>
  </div>
</footer>

<footer class="footer">
  <div class="columns has-text-centered">
    <div class="column"></div>
    
    <div class="column ord2 media__div--centered">
      <a class="icon is-large" href="https://github.com/csrail">
        <i class="fa fa-github"></i>
      </a>
      <a class="icon is-large" href="https://www.linkedin.com/in/cornelius-soon-430597aa">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
    
    <div class="column content is-6 ord1">
      <p>
        <strong>Design</strong> by <a href="https://github.com/csrail">csrail</a>.
        <br>Kapparight 
        <img class="kappa" src="../images/kapparight.png" alt="Kappa">
        All Rights Reserved.
      </p>
    </div>
    
    <div class="column ord3"></div>
  </div>
</footer>

