<header class="brand__header">
  <div class="wrapper__div--header">
    
    <aside class="profile__aside" >
      <a class="profile__anchor" cite="http://game-icons.net/" href="/"></a>
    </aside>
    
    
    <div class="wrapper__div--brand">
      
      <h1 class="brand__heading1--title">
        <a class="brand__anchor--heading1" href="/">the <strong>W</strong>aypoint</a>
      </h1>
      <ul class="brand__unordered-list">
        <a class="brand__anchor" href="/about">
          <li class="brand__list-item brand__list-item--about">
            About
          </li>
        </a>
        <a class="brand__anchor" href="{{ site.contact_link }}">
          <li class="brand__list-item brand__list-item--contact">
            Contact
          </li>
        </a>
        <a class="brand__anchor" href="{{ site.portfolio_link }}">
          <li class="brand__list-item brand__list-item--portfolio">
            Portfolio
          </li>
        </a>
      </ul>
    </div>
  </div>
  
  <div class="stripe__div--header"></div>
</header>
