<nav class="nav has-waypoint-shadow">
  <div class="nav-left">
    <a class="title nav-item" href="{{ site.url }}">
      the WAYPOINT
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="{{ site.github_link }}">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item odin-decal" href="https://gitter.im/TheOdinProject/theodinproject">
      <span class="icon">
        <img src="/images/odin.gif" alt="">
      </span>
    </a>
  </div>

  <div class="nav-right nav-menu nav-menu__div">
    <a class="nav-item" href="#">
      Home
    </a>
    <a class="nav-item" href="#">
      About
    </a>
    <a class="nav-item" href="#">
      Contact
    </a>
  </div>

</nav>