<nav class="nav has-waypoint-shadow">
  <div class="nav-left">
    <a class="title nav-item" href="/post-index">
      the WAYPOINT
    </a>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{ site.github_link }}">
      About
    </a>
    <a class="nav-item" href="{{ site.github_link }}">
      Contact
    </a>
    <a class="nav-item" href="{{ site.github_link }}">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
  </div>
  
  <div class="nav-toggle">
    <a class="nav-item" href="">
      About
    </a>  
    <a class="nav-item" href="">
      Contact
    </a>  
  </div>
</nav>