<a class="test" href="{{ post.url }}">
  <div class="content box">
    <div class="title">    
      {{ post.title}}
    </div>
    <div class="subtitle">
      {{ post.date | date: '%B %d, %Y' }}
    </div>
    <div>
      {{ post.content | truncatewords:50 }}
    </div>
    <br>
    <div class="has-text-centered">
      <button class="button is-info">
        READ:
        {% assign words = post.content | number_of_words %}
        {% if words < 240 %}
          1 min
        {% else %}
          {{ (post.content | number_of_words) | divided_by: 120 }} mins
        {% endif %}
      </button>
    </div>
  </div>
</a>