<article class="mosaic-post__article content is-medium">
  <h1 class="title">    
    <a href="{{ post.url }}">
      <em><strong>{{ post.keywords--0 }}</strong></em> 
      {{ post.title--before }} 
      <em><strong>{{ post.keywords--1 }}</strong></em> 
      {{ post.title--middle }} 
      <em><strong>{{ post.keywords--2 }}</strong></em> 
      {{ post.title--after }}
    </a>
  </h1>
  <h6>
    {{ post.date | date: '%B %d, %Y' }}
    <br>
    <span class="read-time__paragraph">
      READ:
      {% assign words = post.content | number_of_words %}
      {% if words < 240 %}
      1 min
      {% else %}
      {{ (post.content | number_of_words) | divided_by: 120 }} mins
      {% endif %}
    </span>
  </h6>
  
  <div class="content">
    {{ post.content }}
  </div>
  <br>
</article>