<section class="hero is-fullheight waypoint-hero__div--wallpaper">
  <div class="hero-head">
    <div class="stripe__div"></div>
  </div>
  <div class="hero-body is-paddingless is-marginless has-text-centered">
    <div class="container is-large">
      <div class="columns">
        <div class="column is-one-third-tablet is-half-desktop">
          <a href="/archive">
            <h3 class="title hero__heading3--landing">
              the
            </h3>
            <h2 class="title hero__heading2--landing">
              
            </h2>
            <h3 class="title hero__heading3--landing">
              
            </h3>
            <h1 class="title hero__heading1--landing">
              WAY<wbr>POINT
            </h1>
          </a>
        </div>
        <div class="column navigate__div">
          <div>
            <a class="navigate__anchor button is-primary is-large" href="/archive">
              NAVIGATE
            </a>
          </div>
          <div class="columns">
            <p class="navigate__div--keywords is-relative">
              +coding +philosophy +doodles
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container has-text-centered">
      <a href="#feature">
        <i class="fa fa-angle-double-down fa-5x"></i>
      </a>
    </div>
  </div>
</section>

<a name="feature"><div class="stripe__div"></div></a>