<section class="columns">
  <div class="column is-8 is-offset-2">
      {% for post in site.posts limit:1 offset:0 %}
      {% include inject-post.html %}
      {% endfor %}
      
      {% for post in site.posts limit:1 offset:1 %}
      {% include inject-post.html %}
      {% endfor %}
      
      {% for post in site.posts limit:1 offset:2 %}
      {% include inject-post.html %}
      {% endfor %}
      
      {% for post in site.posts limit:1 offset:3 %}
      {% include inject-post.html %}
      {% endfor %}
</section>


