<div class="container" style="margin-top: 3em;">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child is-4 ord2" style="overflow:hidden;">
        {% for post in site.posts limit:1 offset:0 %}
          {% include inject-post.html %}
        {% endfor %}
      </div>          
            
      <div class="tile is-child is-7 ord1">
        <figure class="image is-4by3">
          <img src="../images/waypoint-hero-2015.jpg">
        </figure>
      </div>
      
      <div class="tile"></div>
      
      <div class="tile ord1"></div>
      
      <div class="tile ord3"></div>
    </div>
  </div>
</div>

<div>
  <h2 class="spare has-text-centered">"Do not go gentle into that good night.</h2>
  <h2 class="spare has-text-centered">Old age should burn and rave at close of day.</h2>
  <h2 class="spare has-text-centered">Rage, rage against the dying of the light."</h2>
</div>
