<div class="container" style="margin-top: 3em;">
  <div class="tile is-ancestor is-paddingless is-relative">
    <div class="tile mosaic-landing__div--border">
    </div>
    <div class="tile is-7 is-vertical">
      <div class="tile">
        <div class="tile is-parent is-vertical is-paddingless">
          
          <div class="tile is-child ord1">
            {% for post in site.posts limit:1 offset:0 %}
              {% include inject-post-big.html %}
            {% endfor %}
          </div>          
          
          <div class="tile is-child ord2">
            {% for post in site.posts limit:1 offset:1 %}
              {% include inject-post-big.html %}
            {% endfor %}
          </div>
                
        </div>
      </div>
    </div>
    <div class="tile is-4 is-vertical">
      <div class="tile is-parent is-vertical is-paddingless">
        <div class="tile is-child is-paddingless">
          {% for post in site.posts limit:1 offset:2 %}
            {% include inject-post.html %}
          {% endfor %}
        </div>
        
        <div class="tile is-child is-paddingless">
          <figure class="image">
            <img src="../images/waypoint-hero-2015.jpg">
          </figure>
        </div>
        
        <div class="tile is-child is-paddingless">
          {% for post in site.posts limit:1 offset:3 %}
            {% include inject-post.html %}
          {% endfor %}
        </div>        
      </div>
    </div>
    <div class="tile"></div>
  </div>
</div>