<div class="card spare portfolio-card__div portfolio-card__div--backend2">
  <div class="card-image">
    <figure class="image is-4by3">
      <a href="https://csrail-caesar-cipher.herokuapp.com/">
        <img src="/images/cipher.png" alt="">
      </a>
    </figure>
  </div>
  <div class="card-content">
    <p class="title">
      Caesar Cipher
      <a class="icon is-medium" href="https://github.com/csrail/caesar-cipher-sinatra">
        <i class="fa fa-github"></i>
      </a>
    </p>
  </div>
</div>