<a style="display: block; margin-top: 4em;"><div class="stripe__div"></div></a>
<div class="has-text-centered quote-footer__div is-info is-relative">
    <p class="quote-footer__paragraph--author">&lt; Guru Laghima &gt;</p>
    <p class="quote-footer__paragraph">"Let go your earthly tether.</p>
    <p class="quote-footer__paragraph">Enter the void.</p>
    <p class="quote-footer__paragraph">Empty and become wind."</p>
</div>
<div class="quote-footer__div--shadow is-relative"></div>

<footer class="container footer-links__footer">
  <div class="has-text-centered">
    <ul>
      <li class="footer-links__list-item">
        <a class="button is-normal box" href="/about">About</a>
      </li><!--
  --><li class="footer-links__list-item">
       <a class="button is-normal box" href="/contact">Contact</a>
     </li><!--
  --><li class="footer-links__list-item">
       <a class="button is-normal box" href="/readings">Readings<i class="fa fa-clone"></i></a>
     </li>
    </ul>
  </div>
</footer>

<footer class="footer has-text-centered">
  <div class="">
    <a class="icon is-large" href="https://github.com/csrail">
      <i class="fa fa-github"></i>
    </a>
    <a class="icon is-large" href="https://gitter.im/TheOdinProject/theodinproject">
      <img src="/images/{{ site.odin-icon }}" alt="">
    </a>
    <a class="icon is-large" href="https://www.linkedin.com/in/cornelius-soon-430597aa">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
  <div style="margin-top: 2em;">
    <p>
      <strong>Design</strong> by <a href="https://github.com/csrail">csrail</a>.
      <br>2016 Kapparight 
      <img class="kappa" src="/images/kapparight.png" alt="Kappa">
      All Rights Reserved.
    </p>
  </div>
</footer>

