<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}
  
  <section class="columns post-show__section">
    <!-- <aside class="column"></aside> -->
    <article class="column post-show__article">
      <div class="content is-medium">
        <p style="margin-bottom: -2em; color: hsl(0, 0%, 71%);">{{ page.date | date: '%B %d, %Y' }}</p>
        <h1>
          <em><strong>{{ page.keywords--0 }}</strong></em> 
          {{ page.title--before }} 
          <em><strong>{{ page.keywords--1 }}</strong></em> 
          {{ page.title--middle }} 
          <em><strong>{{ page.keywords--2 }}</strong></em> 
          {{ page.title--after }}
        </h1>
                
        {{ content }}
      </div>
    </article>
  </div>
</section>


  {% include footer.html %}
</body>
</html>