<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Waypoint</title>
  
  {% include stylesheets.md %}
  
</head>
<body>
  <a id="top"></a>
    {% include header.html %}
    
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child">
            <!-- Any content you want here -->
          </article>
          <article class="tile is-child">
            <!-- Any content you want here -->
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <!-- Any content you want here -->
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
          {{ content }}
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child">
        <article class="single-post__article">{{ content }}</article>
      </article>
    </div>
</div>


  {% include footer.html %}
</body>
</html>