<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Waypoint</title>
  
  {% include stylesheets.md %}
  
</head>
<body>
  <div class="wrapper__div--body">
    {% include header.html %}
    
    <section class="single-post__section">
      <h1>{{ page.heading }}</h1>
      <hr>
      {{ content }}
    </section>
    <div class="pusher__div--footer"></div>
  </div>
  {% include footer.html %}
</body>
</html>